@model AgricultureUl.Models.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Admin Panel</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<link rel="stylesheet" href="~/snow-login-form-starter/css/style.css" type="text/css" media="all" />
</head>

<body>
	<section class="w3l-login">
		<div class="overlay">
			<div class="wrapper">
				<div class="logo">
					<a class="brand-logo" href="index.html">Admin Giriş Formu</a>
				</div>
				<div class="form-section">
					<h3>Giriş Yap</h3>
					<h6>Agriculture Admin Giriş Paneli</h6>
					<form method="post" class="signin-form">
						<div class="form-input">
							<input type="text" placeholder="Kullanıcı Adı" required="" autofocus asp-for="username">
						</div>
						<div class="form-input">
							<input type="password" placeholder="Şifre" required="" asp-for="password">
						</div>
						<button type="submit" class="btn btn-primary theme-button mt-4">Giriş Yap</button>
					</form>
				</div>
			</div>
		</div>
		<div id='stars'></div>
		<div id='stars2'></div>
		<div id='stars3'></div>

		<div class="copy-right">
			<p>Copyright © Mertcan ADSIZ</p>
		</div>
	</section>
</body>

</html>